<div class="form">
  <%= form_for @item do |f| %>
  <div class="form">
    <dl>
      <dt>品名</dt>
      <dd><%= f.text_field :item_name %></dd>
       <dt>価格(税込み）</dt> 
        <dd><%= f.text_field :price %>円</dd>
       <dt>店名</dt>
       <dd><%= f.text_field :store %></dd>
       <dt>画像</dt>
       <dd><%= f.file_field :image %></dd>
       <dt>コメント</dt>
       <dd><%= f.text_field :text, style: 'width:20em; height: 3em;'  %></dd>
    </dl>
  </div>
  <%= f.submit '投稿' %>
<% end %>
</div>